.App {
  text-align: center;
}

.navbar-logo{
  width: 153px;
  height: 25.95px;
  top: 47px;
  margin-left: 10px;
}

.nav-links{
  margin-top: 12px;
  margin-left: 450px;
}
.nav-links :hover {
  transform: scale(1.1);
}




